Repository googleapis/python-optimization, pull requests merged in 2022-04, with the labels that each got.

#13 docs: add sync api samples with json request
  samples/snippets/noxfile.py
  samples/snippets/noxfile_config.py
  samples/snippets/requirements-test.txt
  samples/snippets/requirements.txt
  samples/snippets/resources/sync_request.json
  samples/snippets/sync_api.py
  samples/snippets/sync_api_test.py
Labels: samples, api: cloudoptimization, size: l

#12 docs: add get_operation code snippets
  samples/snippets/get_operation.py
  samples/snippets/get_operation_test.py
Labels: api: cloudoptimization, size: m

#18 docs: add code snippets for async api
  samples/snippets/async_api.py
  samples/snippets/async_api_test.py
  samples/snippets/requirements.txt
  samples/snippets/resources/async_request.json
  samples/snippets/resources/async_request_model.json
Labels: api: cloudoptimization, size: l

#20 docs: add long timeout code snippet
  samples/snippets/resources/sync_request.json
  samples/snippets/sync_api_with_long_timeout.py
  samples/snippets/sync_api_with_long_timeout_test.py
Labels: api: cloudoptimization, size: l

#23 docs: update operation id
  samples/snippets/get_operation.py
Labels: api: cloudoptimization, size: xs

#16 chore: run blacken on all directories with a noxfile
  owlbot.py
  samples/snippets/async_api.py
  samples/snippets/async_api_test.py
  samples/snippets/get_operation.py
  samples/snippets/get_operation_test.py
  samples/snippets/noxfile.py
  samples/snippets/sync_api.py
  samples/snippets/sync_api_with_long_timeout.py
Labels: api: cloudoptimization, size: m

#31 feat: bump release level to production/stable
  .repo-metadata.json
  README.rst
  setup.py
Labels: api: cloudoptimization, size: s
